.chatContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    padding-top: 24px;
    margin: auto;
  }
  
  .message {
    white-space: pre-wrap;
    margin-bottom: 16px;
  }
  
  .userMessage {
    color: black;
  }
  
  .botMessage {
    color: green;
  }
  
  .inputField {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  